.container1 {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100%;
}

.hyphensibling{
  color:white;
}

a{
    text-decoration: none !important;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.bluecolor{
    box-shadow: 0px 0px 11px #000;
    padding-top: 5% !important;
    background-color: #03A9F4
}

.hyphen {
    color: white;
    margin: 0;
    
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
}

.description {
    position: absolute;
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    color: #f9f1e9;
    text-align: center;
    top: 60%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    font-size: 1.1rem;
}
div .at-error.card-panel.red-lighten-2,.red{
    background-color: #fff !important;
}

body {

    background: #fff;
}

.learnmore {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100% !important;
    color: #000 !important;
    font-size: 1.1rem;
    background: #F5F5F5;
}

.para {
    padding-top: 0.07%;
    color: #455A64;
    margin-top: 1%;
    position: relative;
    top: 2px;
}

.cait {
    border: #455A64 2px solid !important;
    margin-left: 1% !important;
    font-size: 0.9rem !important;
}

.cait:hover {}

.turquoisecolor {
    padding-top: 5%;
    background: #00BFA5 !important;
}

.whitecolor {
    background: #fff !important;
}

.quotehp {
    color: #000;
    padding-top: 7%;
    padding-bottom: 7%;
}

.quotebody {
    font-size: 2em;
    font-weight: 100;
}

.quotespan {
    font-weight: 400;
}

.graycolor {
    background: #F5F5F5;
    color: black;
}

.legacy {
    color: white;
    font-size: 2em;
    font-weight: 500;
}

.turntotur {
    background-color: #1DE9B6;
    color: #A7FFEB !important;
}

.turntowhite {
    color: white;
    font-weight: 300;
    font-size: 1.1em;
}

.redcolor {
    background-color: #607D8B;
}

.homebar {
    background: rgba(255, 255, 255, 0.5);
}

.whitecolor {
    background: #fff;
}

.navlinks {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: #fff 1px solid;
    border-radius: 0px;
    z-index: 10;
}


.closebt:hover {
  transform: rotate(-90deg);
}

.hyphensibling{
  font-size: 1.3rem;
}

