<template name="dashboard">
    <div class="container1">
        <div class="row nomargin">
            <div class="col s12 m5 l3 bluegray">
                <img class="profileimage" src="profile.jpg">
                <p class="nameowner center-align">Lord Voldemort</p>
            </div>
            <div class="col s12 m6 l9 blue">
                <ul class="collection with-header noborder">
                    <li class="collection-header">
                        <h4>Posts</h4></li>
                    {{#each posts}}
                    <li class="collection-item">
                        <div>{{title}}<a href="#!" class="secondary-content"><a href="{{pathFor 'editpost'}}"><i class="fa fa-edit fa-lg"></i></a><i class="fa fa-close fa-fw fa-lg"></i><i class="fa fa-share-alt fa-lg"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
