<template name="editor1">
    <nav>
        <a class="waves-effect btn-flat cait nocursor logout">Logout</a>
        <a class="waves-effect btn-flat cait namepost namepostwhite">{{currentUser.profile.name}}</a>
        <a class="waves-effect btn-flat markdown1" href="/howtomarkdown" target="_blank">How to type MarkDown?</a>
    </nav>
    <main class="editor">
        <section class="entry-container">
            <header>
                <section class="box entry-title">
                    <input id="entry-title" class="" placeholder="Your Post Title" tabindex="1" type="text">
                </section>
            </header>
            <div class="wap">
                <a class="waves-effect btn-flat cait publish">Publish</a>
            </div> {{> GhostEditor}}
        </section>
    </main>
</template>
