<template name="material">
    <div class="container">
        <div class="row">
            <div class="col s12 m9 l4">
            <div class="card">
            <div class="aft">
                <img class="responsive-img" src="download.png"></div>
                <div class="profile"><h5>Lorem ipsum.</h5><img src="1.png" class="responsive-img" width="25px"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel fuga tempore!    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, voluptates!<a href="!#"><strong> Read More</strong></a></p>

                <div class="coffee"><i class="fa fa-heart" style="color:#000;">&nbsp;27 Comments</i>
                <img class="svgcoffee" src="coffee41.svg"></div>


            </div>
            </div>
        </div>
    </div>
</template>
