<template name="postpage">
    <div class="container"></div>
    <div class="row">
    <div class="col l3">
        <!-- Promo Content 1 goes here --><div style="visibility: hidden">""</div>
      </div>
        <div class="col s12 m12 l6">
        	<h1 class="center-align">{{title}}</h1><br>
        	<div>
        		<p class="tobeappended">{{{body}}}</p>
        	</div>





        </div>
        <div class="col l3">
        <!-- Promo Content 1 goes here --><div style="visibility: hidden">""</div>
      </div>
    </div>
</template>
