<template name="bc">
    <div class="redcolor center-align" style="padding-top:5%">
        <div>
            <p class="hyphen center-align" data-sr="enter left, move 30px, over 0.5s">Alright. The Meaning of BC:</p>
            <p data-sr="enter right, move 30px, over 0.5s"> It doesn't mean what you think it means. </p>
            <br>
            <br>
            <img src="https://lh3.googleusercontent.com/ykyb8cUn4QspalElUKtCfxziYAG0L_BhdXUfL2pj1Ww=w1192-h667-no" class='responsive-img' >
        </div>
    </div>
</template>
