<template name="comp">
    <div class="turquoisecolor center-align" style="
    background-color: #00BFA5;
">
        <div>
            <p class=" hyphen center-align " data-sr="enter right, move 30px, over 0.5s">And then they decided to compete.</p>
            <p class="hyphensibling" data-sr="enter left, move 30px, over 0.5s"> You can write whenever and as much you want. But if you get selected, you can choose one out of the possible topics and win goodies. (SPOILER!) A lot of other gifts. </p>
            <ul class="rslides " id="slider2">
                <li><img src="Comp.png " alt=" "></li>
                <li><img src="comp1.png " alt=" "></li>
            </ul>
        </div>
    </div>
    <div class="learnmore center-align">
        <p class="learnmorep center-align para" style="display:inline;" data-sr="enter left, move 30px, over 0.5s">We know you are excited.</p>
        <a class="waves-effect btn-flat cait" href="/faq" data-sr="enter right, move 30px, over 0.5s">Coffee about it</a>
    </div>
</template>
