<template name="openjournal">
    <div class="container bluecolor">
        <div class="row">
            <div class="col l12 s12 m12 center-align">
                <div class="onepost">
                    <p class="hyphen center-align" data-sr="enter left, move 30px, over 0.5s">An Online Open Journal.</p>
                    <p class="hyphensibling" data-sr="enter right, move 30px, over 0.5s">It is a blog. And It is Public. Which is like saying, We can write together, on the same <strong>feeging</strong> blog.</p>
                </div>
                <div class="mac">
                    <img src="https://lh3.googleusercontent.com/j4EHXnLYxahsJZsb0zZkwzftank2soVyhjg0b0ij4sM=w913-h39-no" style="width:100%">
                </div>
                <ul class="rslides" id="slider1">
                    <li><img src="https://lh3.googleusercontent.com/1j9vw_9caLDGdxxPPizJgllwJxuOtUAWTxKxfFfwovY=w1068-h667-no" alt="Open Journal Blog"></li>
                    <li><img src="https://lh3.googleusercontent.com/kaNHMW4dEsQgA_KjtnwpK5yQkOiQ1HQurH56I-F3zl4=w1068-h667-no" alt="Open Journal Blog"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="learnmore center-align">
        <p class="learnmorep center-align para" style="display:inline;" data-sr="enter left, move 30px, over 0.5s">Don't get it?</p>
        <a class="waves-effect btn-flat cait" href="/blogfaq" data-sr="enter right, move 30px, over 0.5s">Coffee about it</a>
    </div>
</template>
