<template name="openjournal">
    <div class="container bluecolor">
        <div class="row">
            <div class="col l12 s12 m12 center-align">
                <div class="onepost">
                    <p class="hyphen center-align">An Online Open Journal.</p>
                    <p class="hyphensibling">It is a blog. And It is Public. Which is like saying, We can write together, on the same <strong>feeging</strong> blog.</p>
                </div>
                <div class="mac">
                    <img src="Mac-UI.png" style="width:100%">
                </div>
                <ul class="rslides" id="slider1">
                    <li><img src="1.png" alt=""></li>
                    <li><img src="2.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="learnmore center-align">
        <p class="learnmorep center-align para" style="display:inline;">Don't get it?</p>
        <a class="waves-effect btn-flat cait">Coffee about it</a>
    </div>
</template>
