<template name="legacy">
 <div class="learnmore center-align turntotur">
        <p class="learnmorep center-align para turntowhite" style="display:inline;">This is a tribute to the <a href=""><span class="legacy">Alaska-ian</span></a> Legacy.</p>
    </div>
    <div class="whitecolor">
        <div class="container">
            <div class="row">
                <div class="col offset-s1 offset-l1 offset-m1 s10 m10 l10">
                    <div class="quote center-align">
                        <p class="quotebody">I might die <span class="quotespan" data-sr>young</span>,
                            <br> but atleast I'll die <span class="quotespan">smart.</span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col offset-s1 offset-l1 offset-m1 s10 m10 l10">
                    <div class="quote center-align">
                        <p class="quotebody">Y'll smoke to <span class="quotespan">enjoy </span>it,
                            <br> I smoke to <span class="quotespan">die.</span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col offset-s1 offset-l1 offset-m1 s10 m10 l10">
                    <div class="quote center-align">
                        <p class="quotebody">The only way out of the <span class="quotespan">labyrinth</span>
                            <br> is to <span class="quotespan">forgive.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
