<template name="top">
    <div class="links center-align">
        <a class="waves-effect waves btn-flat navlinks home" href="/">Home</a>
        <a class="waves-effect waves btn-flat navlinks blog" href="/blog">Blog</a>
        <a class="waves-effect waves btn-flat navlinks competition" href="/competitions">Competitions</a>
        <!--Call your modal-->
        <a id="demo01" class="waves-effect waves btn-flat navlinks about" href="/owners">MAD</a>
        <!--DEMO01-->
        <a class="waves-effect waves btn-flat navlinks login" href="">{{>loginButtons}}</a>
    </div>
    <div class="container1 demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div id="titlename">
                    <h1 class="main-title">Blanket<span class="thin">Coffee</span></h1>
                    <p class="description">For the metaphors dying inside of you, waiting to wave at the world!</p>
                </div>
            </div>
        </div>
    </div>
</template>
