<template name="top">
    <div class="links">
        <a class="waves-effect waves-teal btn-flat navlinks home">Home</a>
        <a class="waves-effect waves-teal btn-flat navlinks blog">Blog</a>
        <a class="waves-effect waves-teal btn-flat navlinks competition">Competitions</a>
        <!--Call your modal-->
        <a id="demo01" class="waves-effect waves-teal btn-flat navlinks about" href="#animatedModal">MAD</a>
        <!--DEMO01-->
        <a class="waves-effect waves-teal btn-flat navlinks login">Login</a>
    </div>
    <div class="container1 demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
                <div id="titlename">
                    <h1 class="main-title">Blanket<span class="thin">Coffee</span></h1>
                    <p class="description">For the metaphors dying inside of you, waiting to wave at the world!</p>
                </div>
            </div>
        </div>
    </div>
</template>
