<template name="ownersAbhishek">
    <div class="container1">
        <div class="row nomargin">
            <div class="col s12 bluisha">
                <div class="habhishek center-align">
                    <p class="namea1 center-align">I'm quiet, and my personality appears in my words, and in front of</p>
                    <p class="namea">Deeksha.</p>
                    <div class="circleimage circleimagea"><i class="fa fa-arrow-down fa-2x padd padda" data-target="container1"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="container1">
        <div class="row">
            <div class="col s12" style="margin-top:10%">
                <p class="myname">Abhishek Soni</p>
                <p class="wanderlusta"><strong></strong>Writer <i class="fa fa-keyboard-o"></i>, Web Designer <i class="fa fa-laptop"></i> <strong>/</strong>Developer <i class="fa fa-code"></i>and in love with <strong>books. <i class="fa fa-book"></i> </strong></p>
            </div>
        </div>
    </div>
    <div class="container1 reddishcolor" id="container1">
        <div class="row center-align">
            <div class="col s12">
                <p class="designed"> He is good at inventing new words, and he made this website.
                </p>
                <p class="contactme">
                    Here's the <strong class="hovs">Socio-Plethora </strong> .
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s2" style="margin-top: 10%; margin-bottom: 10%">
                <a href="https://instagram.com/abhishek.27" target="_blank"><i class="fa fa-instagram fa-2x ii fa-fw iia"></i></a>
            
                <a href="https://twitter.com/abhishek27soni" target="_blank"><i class="fa fa-twitter fa-2x ii fa-fw iia"></i></a>
                <a href="https://www.pinterest.com/abhisheksoni27/" target="_blank"><i class="fa fa-pinterest fa-2x ii fa-fw iia"></i></a>
                <a href="https://github.com/abhisheksoni27" target="_blank"><i class="fa fa-github fa-2x ii fa-fw iia"></i></a>
            </div>
        </div>
    </div>
    
    <div class="container1 bluegray bluegraya">
        <div class="row">
            <div class="col s12 m6">
                <p class="quote center-align">"At some point, you just pull off the Band-Aid,
                    <br> and it hurts, but then it's over and you're relieved."</p>
            </div>
            <div class="col s12 whitecolor">
                <p class="quote center-align  quoteta">"Sometimes I don't get you,' I said. She didn't even glance at me. She just smiled toward the television and said, 'You never get me. That's the whole point."</p>
            </div>
        </div>
    </div>
    <div class="container1 bluegray">
        <div class="row">
            <div class="col s12 l6 whitecolor">
                <p class="quote center-align quoteta">"Stop thinking about the landing, because it's all about falling."</p>
            </div>
            <div class="col s6">
                <p class="quote center-align sma respa">"Obliviate."</p>
            </div>
        </div>
    </div>
    <div class="container1 bluegray">
        <div class="row">
            <div class="col s12">
                <p class="quote center-align resp ">"If you're not scared, you're not taking a chance. And if you're not taking a chance, then what the hell are you doing?"</p>
            </div>
        </div>
    </div>
</template>
