<template name="ownersDeeksha">
	<div class="container1">
        <div class="row nomargin">
            <div class="col s12 bluishd">
                <div class="hdeeksha center-align">
                    <p class="name1 center-align">Ha-aaave you met</p>
                    <p class="name">Deeksha?</p>
                    <div class="circleimage"><i class="fa fa-arrow-down fa-2x padd" data-target="container1"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container whitecolor" id="container1">
        <div class="row" style="margin-top: 10%">
            <div class="col s12">
    <p class="myname">Deeksha Madaan</p>
                <p class="wanderlusta"><strong></strong>Traveller <i class="fa fa-train"></i>, Writer <i class="fa fa-keyboard-o"></i>, Food-aholic  <i class="fa fa-cutlery"></i>, Reader <i class="fa fa-book"></i> and in love with <strong>dresses <img src="/female94.svg" width="50px"></strong> she has not bought.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s4">
                <img class="imagep" style="margin-top:35%" src="/deeksha.png">
            </div>
            <div class="col s4 " style="margin-top:10%">
                <p class="wanderlust"><strong></strong>WanderLust is rad.<strong></strong></p>
            </div>
            <div class="col s2 offset-s2 white social" style="margin-top:10%">
                <a href="https://instagram.com/deekshamadaan" target="_blank"><i class="fa fa-instagram fa-2x ii fa-fw"></i></a>
                <a href="https://facebook.com/deekshamadaan1996" target="_blank"><i class="fa fa-facebook fa-2x ii fa-fw"></i></a>
                <a href="https://twitter.com/deeksha_madaan" target="_blank"><i class="fa fa-twitter fa-2x ii fa-fw"></i></a>
                <a href="https://pinterest.com/deekshamadaan" target="_blank"><i class="fa fa-pinterest fa-2x ii fa-fw"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 shadow">
                <!-- SnapWidget -->
                <iframe src="http://snapwidget.com/bd/?u=ZGVla3NoYW1hZGFhbnxpbnwyMDB8M3wyfHx5ZXN8MjB8bm9uZXxvblN0YXJ0fG5vfHllcw==&ve=010715" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
            </div>
        </div>
    </div>
    <div class="container1 turquoisecolor">
        <div class="row">
            <div class="col s12 l6">
                <p class="quote center-align">"As Above, so below.
                    <br>As within, so without."</p>
            </div>
            <div class="col s12 l6 whitecolor">
                <p class="quote center-align  quotet">"It is our choices, Harry, that show what we truly are, far more than our abilities."</p>
            </div>
        </div>
    </div>
    <div class="container1 turquoisecolor">
        <div class="row">
            <div class="col s12 l6 whitecolor">
                <p class="quote center-align quotet">"It does not do to dwell on dreams and forget to live, remember that"</p>
            </div>
            <div class="col s12 l6">
                <p class="quote center-align sm">"The existence of broccoli does not, in any way, affect the taste of chocolate."</p>
            </div>
        </div>
    </div>
    <div class="container1 turquoisecolor">
        <div class="row">
            <div class="col s12">
                <p class="quote center-align  ">"The only way out of the labyrinth is to forgive."</p>
            </div>
        </div>
    </div>
</template>